.divass{
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(0, 86, 110);
    width: 100%;
}
.botaotexto{
    font-size: 40px;
    width: 80px;
    border: solid 3px rgb(0, 200, 255);
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, rgb(0, 200, 255), rgb(0, 26, 33));
    font-family: 'Agdasima', sans-serif;
    font-family: 'Edu TAS Beginner', cursive;
    text-decoration: none;
}
.botaotexto a{
    text-decoration: none;
    color: black;
}

.div-center button{
    font-size: 40px;
    width: 125px;
    border: solid 3px rgb(0, 200, 255);
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, rgb(0, 200, 255), rgb(0, 26, 33));
    font-family: 'Agdasima', sans-serif;
    font-family: 'Edu TAS Beginner', cursive;
    text-decoration: none;
}
body{
    animation: fundo-animado 3s infinite;
    height: 100dvh;
    margin: 0px;
}
#telaescura{
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.telaescura{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.724);
}
body img{
    z-index: 0;
}

.textoespecial{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 90%;
    color: white;
    padding: 30px;
    font-size: 20px;
}

/* imagens */
    .img1{
        position: absolute;
        animation: estrela1 infinite 3s;
    }
    .img2{
        position: absolute;
        animation: estrela2 infinite 3s;
    }
    .img3{
        position: absolute;
        animation: estrela3 infinite 3s;
    }
    .img4{
        position: absolute;
        animation: estrela4 infinite 3s;
    }
    .img5{
        position: absolute;
        animation: estrela5 infinite 3s;
    }
    .img6{
        position: absolute;
        animation: estrela6 infinite 3s;
    }

.div-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.div-center button a{
    text-decoration: none;
    color: black;
}

@keyframes fundo-animado{
    0%{
        background-color: rgb(0, 86, 110);
    }
    50%{
        background-color: rgb(41, 0, 69);
    }
    100%{
        background-color: rgb(0, 86, 110);
    }
}

@keyframes estrela1{
    0%{
        right: 20dvw;
        top: 30dvw;
        rotate:40deg;
    }
    50%{
        right: 10dvw;
        top: 10dvw;
        rotate:30deg;
    }
    100%{
        right: 20dvw;
        top: 30dvw;
        rotate:40deg;
    }
}
@keyframes estrela2{
    0%{
        right: 80dvw;
        top: 80dvw;
        rotate:-40deg;
    }
    50%{
        right: 70dvw;
        top: 90dvw;
        rotate:-30deg;
    }
    100%{
        right: 80dvw;
        top: 80dvw;
        rotate:-40deg;
    }
}
@keyframes estrela3{
    0%{
        right: 90dvw;
        top: 170dvw;
        rotate: 78deg;
    }
    50%{
        right: 80dvw;
        top: 160dvw;
        rotate: 68deg;
    }
    100%{
        right: 90dvw;
        top: 170dvw;
        rotate: 78deg;
    }
}
@keyframes estrela4{
    0%{
        right: 40dvw;
        top: 190dvw;
        rotate:-40deg;
    }
    50%{
        right: 30dvw;
        top: 150dvw;
        rotate:-30deg;
    }
    100%{
        right: 40dvw;
        top: 190dvw;
        rotate:-40deg;
    }
}
@keyframes estrela5{
    0%{
        right: 5dvw;
        top: 140dvw;
        rotate:-40deg;
    }
    50%{
        right: 15dvw;
        top: 120dvw;
        rotate:-30deg;
    }
    100%{
        right: 5dvw;
        top: 140dvw;
        rotate:-40deg;
    }
}
@keyframes estrela6{
    0%{
        right: 70dvw;
        top: 10dvw;
        rotate:-40deg;
    }
    50%{
        right: 50dvw;
        top: 40dvw;
        rotate:-30deg;
    }
    100%{
        right: 70dvw;
        top: 10dvw;
        rotate:-40deg;
    }
}


    